* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
}

.highlight {
    border: 1px solid #fff;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 100px;
    background-color: rgb(50,50,50);
}

.HeaderContainer {
    display: flex;
    align-items: center;
    gap: 25px;
}

.HeaderContainer button {
    padding: 5px;
}

.HeaderContent::after {
    transition: 1s border ease;
    border-bottom: 0px solid cornflowerblue;
}

.HeaderContent:hover::after {
    border-bottom: 1px solid cornflowerblue;
    transition: 1s border ease;
}

.top {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.top img {
    width: 100%;
    height: 100%;
}

.titleWrap {
    width: 100%;
    height: calc(100% - 60px);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.3);

    position: absolute;
    top: 60px;
    left: 0;

    color: #fff;
}

.TitleContent {
    width: 550px;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.TitleContent h1 {
    font-size: 50px;
}

.btn {
    border-radius: 5px;
}

.titlebtn {
    padding: 15px 30px;
    color: #fff;
}

.btnContainer {
    display: flex;
    gap: 10px;
}

.btnContainer button:nth-child(1) {
    background-color: cornflowerblue;
    border: none;
}

.btnContainer button:nth-child(2) {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
}