* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(0, 0, 0, 0);
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    transition: all 0.5s;
}

button {
    cursor: pointer;
}

header.leave {
    background-color: #fff;
    color: #000
}

.icon {
    cursor: pointer;
}

.HeaderContainer {
    display: flex;
    align-items: center;
    gap: 25px;
}

.HeaderContainer button {
    padding: 5px;
}

.HeaderContent {
    display: inline-block;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}

.HeaderContent::after {
    content: '';
    width: 100%;
    height: 2px;

    position: absolute;
    top: 100%;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    background-color: cornflowerblue;
    transition: all 0.5s;
}

.HeaderContent:hover::after {
    width: 100%;
    transform: scaleX(1);
}

.HeaderContainer button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.5s;
}

.HeaderContainer button.leave {
    background-color: #000;
    color: #fff;
}

.HeaderContainer button:hover {
    background-color: cornflowerblue;
    color: #fff;
}

.top {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.highlight {
    border: 1px solid #fff;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 100px;
    background-color: rgb(50, 50, 50);
}

.top img {
    width: 100%;
    height: 100%;
}

.titleWrap {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 45, 0.3);

    position: absolute;
    top: 0;
    left: 0;

    color: #fff;
}

.TitleContent {
    width: 550px;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TitleContent h1 {
    font-size: 50px;
}

.btn {
    border-radius: 5px;
}

.titlebtn {
    padding: 15px 30px;
    color: #fff;
}

.btnContainer {
    display: flex;
    gap: 15px;
}

.titlebtn:nth-child(1) {
    background-color: cornflowerblue;
    border: none;
    transition: all 0.5s;
}

.titlebtn:nth-child(1):hover {
    background-color: #fff;
    color: #000;
    border: none;
}

.titlebtn:nth-child(2) {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
}

.aboutus {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutContainer {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    align-items: center;
}

.aboutContent {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color: #fff;
}

.aboutContent img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.aboutContent h4 {
    color: cornflowerblue;
}

.aboutContent h2 {
    font-size: 40px;
}

.aboutContent h6 {
    font-size: 14px;
}

.aboutExp {
    display: flex;
    gap: 30px;
}

.Exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.Exp a:nth-child(1) {
    color: cornflowerblue;
    font-size: 35px;
    font-weight: 1000;
}

.Exp a:nth-child(2) {
    color: #000;
    font-size: 14px;
}

.Company {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Company h5 {
    font-size: 16px;
    font-weight: 400;
}

.scroll {
    width: 200%;
    display: flex;
    transform: translateX(25%);
}

.CompanyImg {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    animation: scroll 30s linear infinite;
}

.CompanyImg img {
    display: block;
}

.expert {
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.expertContainer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 15px;
    margin: auto;
}

.expertContainer h2 {
    font-size: 40px;
}

.expertContent {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.expertInnerContent {
    width: 31%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}


.expertInnerContent img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expertInnerContent h4 {
    font-size: 25px;
}

.expertInnerText {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5%;
    gap: 15px;
}

.imgContainer {
    width: auto;
    height: 60%;
    overflow: hidden;
}




@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}